services:
  i2pd:
    image: purplei2p/i2pd
    network_mode: host
    volumes:
      - i2pd_data:/home/i2pd/data
      - ./i2pd/i2pd.conf:/home/i2pd/data/i2pd.conf:ro
      - ./i2pd/tunnels.conf:/home/i2pd/data/tunnels.conf:ro
    restart: unless-stopped
    ulimits:
      nofile:
        soft: 16384
        hard: 16384

  smp-server:
    build: .
    network_mode: host
    environment:
      - SMP_DB_PASSWORD=${SMP_DB_PASSWORD}
      - SMP_PORT=5223
      - SMP_DB_PATH=/data/smp.db
      - SMP_TLS_CERT=/data/server.crt
      - SMP_TLS_KEY=/data/server.key
    volumes:
      - smp_data:/data
    restart: unless-stopped

volumes:
  i2pd_data:
  smp_data:
